.tags-input {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 90%;
    position: relative;
    background: white;
    padding-right: 25px;
    border-radius: 4px;
  }
  
  .tags-input .tag:hover {
    background-color: #3af;
    color: darkblue;
  }
  .tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
  }
  
  .tags-input .closeAll {
    position: absolute;
    top: 11px;
    right: 10px;
    font-weight: bold;
    display: block;
    transform: scale(1.4);
    border-radius: 50%;
    background: #a3a3a3;
    color: white;
    width: 12px;
    height: 15px;
    text-align: center;
    line-height: 0.9;
    cursor: pointer;
  }
  .tags-input .tag .close:hover::after {
    color: red;
  }
  .tags-input .main-input {
    border: 0;
    margin: 5px;
    outline: none;
    width: 90%;
    padding: 3px 5px;
  }
  .list {
    padding-inline-start: 0;
    list-style-type: none;
    margin-top: 5px;
    width: 90%;
    padding-top: 1px;
    background: white;
    box-shadow: 0px 2px 12px #00000047;
    border-radius: 3px;
  }
  .list li {
    cursor: pointer;
    padding: 3px 10px;
    margin: 3px;
    border-radius: 3px;
    overflow-wrap: break-word;
  }
  
  .field-group {
    z-index: 100;
  }