.headercomp {
    display: flex;
    margin: 5px;
    padding: 10px 5px;
    justify-content: space-between;
  }
  
  .datecomponents {
    margin: 20px 15px;
    min-width: 138px;
    max-width: 150px;
  }
  
  .settingscomp {
    align-self: flex-end;
    margin: 10px 12px;
    padding: 15px;
  }
  